
		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<h2>About Me</h2>
					<p>My name is Hassan ElChaaban and I am a graduate student in the BTT program at Seneca College. My student ID is: <b>146849229</b></p>
					<p>I love to do a lot of fitness activities and sports and my main interest in information technology is being a system administrator</p>
					<p>Throughout my studies, I have acquired knowledge and experience in the IT field and administrating windows and linux systems .</p>
					
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>
