
		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<h1> Welcome to the Website! </h1>
					<p> This is a website for the WEB700 course. </p>
					<p> This website is created by Hassan ElChaaban. </p>
					<h2> About the Website</h2>
					<p> This website has 3 static views and 5 routes to show data about the students, courses and Teachers' assistants</p>
					<h2>Introduction to HTML5</h2>
    				<p>This site utilizes HTML5, a markup language used for structuring and presenting content on the World Wide Web.</p>
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>
